:root {
    --r-background-color: #fdf6e3;
    --r-main-font: Lato, sans-serif;
    --r-main-font-size: 40px;
    --r-main-color: #657b83;
    --r-block-margin: 20px;
    --r-heading-margin: 0 0 20px 0;
    --r-heading-font: League Gothic, Impact, sans-serif;
    --r-heading-color: #586e75;
    --r-heading-line-height: 1.2;
    --r-heading-letter-spacing: normal;
    --r-heading-text-transform: uppercase;
    --r-heading-text-shadow: none;
    --r-heading-font-weight: normal;
    --r-heading1-text-shadow: none;
    --r-heading1-size: 3.77em;
    --r-heading2-size: 2.11em;
    --r-heading3-size: 1.55em;
    --r-heading4-size: 1em;
    --r-code-font: monospace;
    --r-link-color: #268bd2;
    --r-link-color-dark: #1a6091;
    --r-link-color-hover: #78b9e6;
    --r-selection-background-color: #d33682;
    --r-selection-color: #fff;
}

/* ------- CUSTOM CSS -------- */

.reveal #first{
    text-align: left;
}

.reveal #contact{
    text-align: right;
}